{% extends "layouts/base.html" %}

{% set css %}
  {% include "css/tokens.css" %}
  {% include "css/global.css" %}
  {% include "css/home.css" %}
  {% include "css/card.css" %}

{% endset %}

{% set pageHeaderTitle = pageTitle %}

    {% block content %}
      <div class="wrapper">
        <article class="meow-card">
          <div class="meow-image">
            <img
                src="https://res.cloudinary.com/dtw5nh0mw/image/fetch/w_640,f_auto,q_auto:eco/https://cats-in-residence.org/img/meow-ethan-swann.jpg"
                srcset="
                    https://res.cloudinary.com/dtw5nh0mw/image/fetch/w_320,f_auto,q_auto:eco/https://cats-in-residence.org/img/meow-ethan-swann.jpg 320w,
                    https://res.cloudinary.com/dtw5nh0mw/image/fetch/w_640,f_auto,q_auto:eco/https://cats-in-residence.org/img/meow-ethan-swann.jpg 640w,
                    https://res.cloudinary.com/dtw5nh0mw/image/fetch/w_960,f_auto,q_auto:eco/https://cats-in-residence.org/img/meow-ethan-swann.jpg 960w"
                sizes="
                    (min-width: 1023px) 960px,
                    (min-width: 675px) 640px,
                    (min-width: 380px) 320px,
                    100vw"
                width="850"
                height="567"
                alt="An adoptable cat sits in the Cat Aviary at 356 S. Mission Road in Los Angeles"
                fetchpriority="high">
            <p class="photo-credit">Photo<span class="visually-hidden"> credit</span>: Ethan Swann, 356 S. Mission Road</p>
          </div>
          <div class="wrapper-content flow meow-text">
            <h1>{{ pageHeaderTitle }}</h1>
            <p class="meow-subtitle">{{ subtitle }}</p>
            {{ content | safe }}
            <a href="/about/" class="meow-button">Learn more about the project</a>
          </div>
        </article>
      </div>

      <div class="wrapper wrapper-exhibitions">
        <article>
          <h2>Exhibitions</h2>
          <p class="exhibitions-text">{{ exhibitionText }}</p>
        </article>

        <div class="grid-exhibitions">
          {% include "partials/card-exhibition.html" %}
        </div>
      </div>
    {% endblock %}
