{% for item in exhibitions.items %}
<div class="card card-exhibition">
  <img
      src="https://res.cloudinary.com/dtw5nh0mw/image/fetch/w_640,f_auto,q_auto:eco/https://cats-in-residence.org/img/{{ item.img }}.jpg"
      srcset="
          https://res.cloudinary.com/dtw5nh0mw/image/fetch/w_320,f_auto,q_auto:eco/https://cats-in-residence.org/img/{{ item.img }}.jpg 320w,
          https://res.cloudinary.com/dtw5nh0mw/image/fetch/w_640,f_auto,q_auto:eco/https://cats-in-residence.org/img/{{ item.img }}.jpg 640w"
      sizes="
          (min-width: 675px) 640px,
          (min-width: 380px) 320px,
          100vw"
      width="402"
      height="259"
      alt="{{ img.alt }}" loading="lazy">
  <p class="photo-credit">Photo<span class="visually-hidden"> credit</span>: {{ item.credit }}</p>

  <div class="card-content">
    <h3>
      <span class="visually-hidden">Link to</span> <a href="/exhibitions/{{ item.venue | slug }}/">{{ item.venue }}</a>
    </h3>
    <p>{{ item.date }}</p>
    <p class="card-exhibition-count">{{ item.adoptions }} adoptions</p>
  </div>
</div>
{% endfor %}
