<div class="card card-zine">
  <picture>
    <source srcset="/img/meowrina-sm.avif" type="image/avif">
    <source srcset="/img/meowrina-sm.webp" type="image/webp">
    <img src="/img/meowrina-sm.jpg" width="300" height="226" alt="Meowrina Abramovic is present" loading="lazy">
  </picture>
  <div class="card-content flow">
    <span class="visually-hidden">Link to</span> <a href="https://superterrific.org/cats-in-residence/The-Cat-Show-Zine-2013.pdf">Download the Zine!</a>
    <p class="text-sm">
      A chonky 309 MB pdf
    </p>
  </div>
</div>
